<h1>Book Loan Information</h1>
<p>Hi!</p>
<p>The book "<%= @title %>" rental period is ending.</p>
<p>We kindly remind about the returning date which is: <%= @due_date %>.</p>
<p>Thank you for using our library!</p>