<h1>Book Loan Information</h1>
<p>Hi!</p>
<p>You have just borrowed a book titled: <%= @title %>.</p>
<p>We kindly ask you to return it by: <%= @due_date %>.</p>
<p>Thank you for using our library!</p>