<%= turbo_stream_from :books %>
<div class="container">
  <h1 class="text-center mb-5">Books</h1>
  <div class="row">
    <%= render partial: 'index_item', collection: @books, as: :book %>
  </div>
</div>
